<div class="row">
  <div class="col-sm-12">
    <img [src]="RecipeFinallyRecived.imagePath" alt="{{RecipeFinallyRecived.name}}" class="img-fluid rounded-circle"
    style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{RecipeFinallyRecived.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span>
      </button>
<ul class="dropdown-menu">
  <li><a class="dropdown-item" href="#"></a>Add Ingredients</li>
  <li><a class="dropdown-item" href="#"></a>Edit recipe</li>
  <li><a class="dropdown-item" href="#"></a>Delete Recipe</li>
</ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Description of Recipe
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
      Ingredients
    </div>
  </div>